@model IEnumerable<PD1_PZ_109602_202103.Models.MyTask>

@{
    ViewData["Title"] = "Done";
}

<h1>Lista zadań wykonanych</h1>

<p>
    <a asp-action="Create">Dodaj nowe zadanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    <a asp-action="Done" asp-route-id="@item.Id">Wróć</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń zadanie</a>
                </td>
            </tr>
        }
    </tbody>
</table>


